Pamela-datafactory-dados/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "Pamela-datafactory-dados"
		},
		"DataBricks_DataFactory_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'DataBricks_DataFactory'"
		},
		"DataBricks_DataFactory_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0609-161348-gslw8jh8"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataBricks_DataFactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3530320015179608.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DataBricks_DataFactory_accessToken')]"
					},
					"existingClusterId": "[parameters('DataBricks_DataFactory_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestao-camada-silver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pamarant@emeal.nttdata.com/projetointegrado/notebook/Tratamentos_camadasilver"
						},
						"linkedServiceName": {
							"referenceName": "DataBricks_DataFactory",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ingestao-camada-gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ingestao-camada-silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pamarant@emeal.nttdata.com/projetointegrado/notebook/Transformacoes_camadaouro"
						},
						"linkedServiceName": {
							"referenceName": "DataBricks_DataFactory",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataBricks_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gatilhos')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline-datalake",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-06-14T09:35:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline-datalake')]"
			]
		}
	]
}